.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.714844;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.679688;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(255,0,0),0 0.015em rgb(255,0,0),0.015em 0 rgb(255,0,0),0 -0.015em  rgb(255,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(255,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:37.700000px;}
._0{width:64.100000px;}
.fc4{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fc2{color:rgb(46,117,182);}
.fc1{color:rgb(137,137,137);}
.fc3{color:rgb(128,128,128);}
.fs2{font-size:48.000000px;}
.fs5{font-size:64.000000px;}
.fs4{font-size:72.000000px;}
.fs6{font-size:74.000000px;}
.fs1{font-size:96.000000px;}
.fs7{font-size:98.000000px;}
.fs3{font-size:176.000000px;}
.fs0{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y3{bottom:20.737692px;}
.y36{bottom:28.328033px;}
.y18{bottom:33.128006px;}
.y49{bottom:47.528030px;}
.y35{bottom:49.928040px;}
.y17{bottom:54.249893px;}
.y48{bottom:69.128036px;}
.y34{bottom:71.528046px;}
.y16{bottom:73.928024px;}
.y57{bottom:78.613693px;}
.y6{bottom:90.013714px;}
.y42{bottom:90.728043px;}
.y33{bottom:93.128052px;}
.y15{bottom:95.049911px;}
.y56{bottom:104.533707px;}
.y41{bottom:112.328049px;}
.y14{bottom:114.728043px;}
.y32{bottom:114.728058px;}
.y40{bottom:133.928055px;}
.y5f{bottom:134.533707px;}
.y13{bottom:136.328049px;}
.y31{bottom:136.328064px;}
.y55{bottom:140.453720px;}
.y3f{bottom:155.528061px;}
.y12{bottom:157.928055px;}
.y30{bottom:157.928070px;}
.y5e{bottom:170.453720px;}
.y54{bottom:176.373734px;}
.y46{bottom:177.128067px;}
.y2f{bottom:179.528076px;}
.y5d{bottom:196.373734px;}
.y3e{bottom:198.728073px;}
.y8{bottom:201.000469px;}
.y11{bottom:201.128067px;}
.y2e{bottom:201.128082px;}
.y53{bottom:202.293747px;}
.y4a{bottom:220.328064px;}
.y3d{bottom:220.328079px;}
.y10{bottom:222.728073px;}
.y2d{bottom:222.728088px;}
.y61{bottom:231.917820px;}
.y2{bottom:232.018713px;}
.y5c{bottom:232.293747px;}
.y52{bottom:238.213760px;}
.y45{bottom:241.928070px;}
.y3c{bottom:241.928085px;}
.yf{bottom:244.328079px;}
.y25{bottom:244.328163px;}
.y5b{bottom:258.213760px;}
.y44{bottom:263.528076px;}
.y3b{bottom:263.528091px;}
.y2c{bottom:265.928085px;}
.y1e{bottom:265.928093px;}
.y24{bottom:265.928169px;}
.y51{bottom:274.133759px;}
.y60{bottom:279.882118px;}
.y1{bottom:280.134361px;}
.y5a{bottom:284.133759px;}
.y43{bottom:285.128082px;}
.ye{bottom:287.528076px;}
.y2b{bottom:287.528091px;}
.y1d{bottom:287.528099px;}
.y50{bottom:300.053757px;}
.y3a{bottom:306.728081px;}
.yd{bottom:309.128075px;}
.y2a{bottom:309.128090px;}
.y23{bottom:309.128159px;}
.y59{bottom:310.053757px;}
.y7{bottom:311.987179px;}
.y39{bottom:328.328079px;}
.yc{bottom:330.728073px;}
.y29{bottom:330.728088px;}
.y1c{bottom:330.728096px;}
.y22{bottom:330.728157px;}
.y4f{bottom:335.973759px;}
.y58{bottom:345.973759px;}
.y4c{bottom:349.928070px;}
.y38{bottom:349.928078px;}
.yb{bottom:352.328072px;}
.y28{bottom:352.328087px;}
.y1b{bottom:352.328094px;}
.y21{bottom:352.328156px;}
.y4b{bottom:371.528072px;}
.y47{bottom:371.528076px;}
.y4e{bottom:371.893759px;}
.y37{bottom:393.128075px;}
.ya{bottom:395.049946px;}
.y27{bottom:395.049961px;}
.y1a{bottom:395.049969px;}
.y20{bottom:395.050030px;}
.y5{bottom:398.562061px;}
.y9{bottom:414.728073px;}
.y26{bottom:414.728088px;}
.y19{bottom:414.728096px;}
.y1f{bottom:414.728157px;}
.y4d{bottom:444.769360px;}
.y4{bottom:473.519356px;}
.h3{height:33.328125px;}
.h6{height:50.250000px;}
.h7{height:54.843750px;}
.h5{height:56.531250px;}
.h9{height:66.656250px;}
.h2{height:75.375000px;}
.h4{height:138.187500px;}
.h8{height:166.640625px;}
.h1{height:188.437500px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x4{left:7.200012px;}
.xa{left:9.944450px;}
.xe{left:19.635979px;}
.x8{left:22.170197px;}
.xc{left:25.276611px;}
.x9{left:29.699997px;}
.x6{left:46.567879px;}
.x5{left:55.567879px;}
.x7{left:59.170197px;}
.xb{left:61.276611px;}
.xd{left:64.635979px;}
.x10{left:73.200012px;}
.x11{left:145.200012px;}
.x1{left:232.500000px;}
.x2{left:336.000000px;}
.x12{left:352.500000px;}
.x13{left:438.000000px;}
.xf{left:874.800018px;}
.x3{left:880.800018px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:50.266667pt;}
._0{width:85.466667pt;}
.fs2{font-size:64.000000pt;}
.fs5{font-size:85.333333pt;}
.fs4{font-size:96.000000pt;}
.fs6{font-size:98.666667pt;}
.fs1{font-size:128.000000pt;}
.fs7{font-size:130.666667pt;}
.fs3{font-size:234.666667pt;}
.fs0{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y3{bottom:27.650256pt;}
.y36{bottom:37.770711pt;}
.y18{bottom:44.170675pt;}
.y49{bottom:63.370707pt;}
.y35{bottom:66.570719pt;}
.y17{bottom:72.333191pt;}
.y48{bottom:92.170715pt;}
.y34{bottom:95.370728pt;}
.y16{bottom:98.570699pt;}
.y57{bottom:104.818258pt;}
.y6{bottom:120.018285pt;}
.y42{bottom:120.970723pt;}
.y33{bottom:124.170736pt;}
.y15{bottom:126.733215pt;}
.y56{bottom:139.378276pt;}
.y41{bottom:149.770732pt;}
.y14{bottom:152.970723pt;}
.y32{bottom:152.970744pt;}
.y40{bottom:178.570740pt;}
.y5f{bottom:179.378276pt;}
.y13{bottom:181.770732pt;}
.y31{bottom:181.770752pt;}
.y55{bottom:187.271627pt;}
.y3f{bottom:207.370748pt;}
.y12{bottom:210.570740pt;}
.y30{bottom:210.570760pt;}
.y5e{bottom:227.271627pt;}
.y54{bottom:235.164978pt;}
.y46{bottom:236.170756pt;}
.y2f{bottom:239.370768pt;}
.y5d{bottom:261.831645pt;}
.y3e{bottom:264.970764pt;}
.y8{bottom:268.000626pt;}
.y11{bottom:268.170756pt;}
.y2e{bottom:268.170776pt;}
.y53{bottom:269.724996pt;}
.y4a{bottom:293.770752pt;}
.y3d{bottom:293.770772pt;}
.y10{bottom:296.970764pt;}
.y2d{bottom:296.970785pt;}
.y61{bottom:309.223760pt;}
.y2{bottom:309.358284pt;}
.y5c{bottom:309.724996pt;}
.y52{bottom:317.618347pt;}
.y45{bottom:322.570760pt;}
.y3c{bottom:322.570780pt;}
.yf{bottom:325.770772pt;}
.y25{bottom:325.770884pt;}
.y5b{bottom:344.285014pt;}
.y44{bottom:351.370768pt;}
.y3b{bottom:351.370789pt;}
.y2c{bottom:354.570780pt;}
.y1e{bottom:354.570791pt;}
.y24{bottom:354.570892pt;}
.y51{bottom:365.511678pt;}
.y60{bottom:373.176158pt;}
.y1{bottom:373.512482pt;}
.y5a{bottom:378.845011pt;}
.y43{bottom:380.170776pt;}
.ye{bottom:383.370768pt;}
.y2b{bottom:383.370789pt;}
.y1d{bottom:383.370799pt;}
.y50{bottom:400.071676pt;}
.y3a{bottom:408.970774pt;}
.yd{bottom:412.170766pt;}
.y2a{bottom:412.170787pt;}
.y23{bottom:412.170878pt;}
.y59{bottom:413.405009pt;}
.y7{bottom:415.982905pt;}
.y39{bottom:437.770772pt;}
.yc{bottom:440.970764pt;}
.y29{bottom:440.970785pt;}
.y1c{bottom:440.970795pt;}
.y22{bottom:440.970876pt;}
.y4f{bottom:447.965012pt;}
.y58{bottom:461.298345pt;}
.y4c{bottom:466.570760pt;}
.y38{bottom:466.570770pt;}
.yb{bottom:469.770762pt;}
.y28{bottom:469.770782pt;}
.y1b{bottom:469.770793pt;}
.y21{bottom:469.770874pt;}
.y4b{bottom:495.370763pt;}
.y47{bottom:495.370768pt;}
.y4e{bottom:495.858345pt;}
.y37{bottom:524.170766pt;}
.ya{bottom:526.733261pt;}
.y27{bottom:526.733281pt;}
.y1a{bottom:526.733292pt;}
.y20{bottom:526.733373pt;}
.y5{bottom:531.416082pt;}
.y9{bottom:552.970764pt;}
.y26{bottom:552.970785pt;}
.y19{bottom:552.970795pt;}
.y1f{bottom:552.970876pt;}
.y4d{bottom:593.025813pt;}
.y4{bottom:631.359141pt;}
.h3{height:44.437500pt;}
.h6{height:67.000000pt;}
.h7{height:73.125000pt;}
.h5{height:75.375000pt;}
.h9{height:88.875000pt;}
.h2{height:100.500000pt;}
.h4{height:184.250000pt;}
.h8{height:222.187500pt;}
.h1{height:251.250000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x4{left:9.600016pt;}
.xa{left:13.259267pt;}
.xe{left:26.181305pt;}
.x8{left:29.560262pt;}
.xc{left:33.702148pt;}
.x9{left:39.599996pt;}
.x6{left:62.090505pt;}
.x5{left:74.090505pt;}
.x7{left:78.893595pt;}
.xb{left:81.702148pt;}
.xd{left:86.181305pt;}
.x10{left:97.600016pt;}
.x11{left:193.600016pt;}
.x1{left:310.000000pt;}
.x2{left:448.000000pt;}
.x12{left:470.000000pt;}
.x13{left:584.000000pt;}
.xf{left:1166.400024pt;}
.x3{left:1174.400024pt;}
}
